vti_encoding:SR|utf8-nl
http\://www.cs.unc.edu/~guthold/ieee.pdf:introduction.htm
http\://www.sensable.com:phantom_modes.htm
mailto\:support@3rdtech.com:tools_menu/magellan.htm
http\://www.research.ibm.com/people/l/lloydt/color/color.htm:setup_menu/color_map.htm
_themes/user-man/bluvbusa.gif:_themes/user-man/graph1.css
