vti_encoding:SR|utf8-nl
vti_author:SR|helser
vti_modifiedby:SR|helser
vti_timecreated:TR|26 May 2000 02:58:04 -0000
vti_timelastmodified:TR|26 May 2000 03:13:37 -0000
vti_extenderversion:SR|4.0.2.2717
vti_nexttolasttimemodified:TR|26 May 2000 02:58:04 -0000
vti_cacheddtm:TX|26 May 2000 03:13:36 -0000
vti_filesize:IR|7589
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_localhost\\e\:\\nsrc\\nano\\user_manual/e\:/nsrc/nano/user_manual:TR|26 May 2000 03:13:37 -0000
vti_syncwith_localhost\\e\:\\netc\\demo\\user_manual/e\:/netc/demo/user_manual:TR|26 May 2000 03:13:37 -0000
vti_syncwith_localhost\\e\:\\netc\\nano_install_template\\user_manual/e\:/netc/nano_install_template/user_manual:TR|26 May 2000 03:13:37 -0000
vti_syncofs_nano.cs.unc.edu\:21/public_html/user_manual:TW|23 Oct 2000 13:53:00 -0000
vti_syncwith_nano.cs.unc.edu\:21/public_html/user_manual:TX|26 May 2000 03:13:36 -0000
vti_syncwith_histidine.cs.unc.edu\:21/public_html/user_manual:TX|26 May 2000 03:13:36 -0000
vti_syncofs_histidine.cs.unc.edu\:21/public_html/user_manual:TW|23 Oct 2000 13:58:00 -0000
vti_syncwith_evans.cs.unc.edu\:21/public_html/user_manual:TX|26 May 2000 03:13:36 -0000
vti_syncofs_evans.cs.unc.edu\:21/public_html/user_manual:TW|10 Nov 2000 09:43:00 -0000
vti_syncwith_localhost\\e\:\\netc\\manuals\\test_manual/e\:/netc/manuals/test_manual/user_manual:TR|26 May 2000 03:13:37 -0000
